@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
* {
    box-sizing: border-box;
    transition: all ease-in-out 450ms;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    /* the biggest they can get is the size of their container */
    height: auto;
    /* shrinks down to fit their parent */
}

.container {
    width: 95%;
    /* stops the text from touching the screen */
    margin: 0 auto;
    /* stops the text from touching the screen */
    max-width: 70rem;
}

.clearfix::after, section::after, footer::after {
    content: '';
    display: block;
    clear: both;
}

/* Column system
===================*/

[class^=col-] {
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;
}

[class^=col-]:first-child {
    margin-top: 0;
}

.col-1 {
    width: 50%;
    float: left;
    margin: 0;
    padding-right: 3rem;
    margin-top: .1em;
    white-space: nowrap;
}

@media (min-width: 40rem) {
    [class^=col-] {
        float: left;
        padding: 0 .5em;
        margin-top: 0;
    }
    [class^=col-]:first-child {
        padding-left: 0;
    }
    [class^=col-]:last-child {
        padding-right: 0;
    }
    .col-3 {
        width: 50%;
        padding-top: 2em;
    }
    .col-1 {
        width: 16.6666%;
    }
}

/* Typography 
===================*/

h1 {
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
}

p {
    margin-top: 0;
}

p:last-of-type {
    margin-bottom: 0;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 8rem;
    font-weight: 900;
}

.title span {
    font-weight: 300;
    font-size: .9em;
    padding: 15px;
}

.title-cta {
    margin: 0 0 .5em;
}

.unstyled-list {
    padding: 1em;
    list-style-type: none;
}

@media (min-width: 45rem) {
    /* increase font size when screen is larger */
    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
    .title {
        font-size: 4.7rem;
    }
}

/* Animation 
===================*/

.tracking-in-expand {
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/* Buttons 
===================*/

.button {
    display: inline-block;
    /* helps with padding and prevents merging */
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

@media (min-width: 45rem) {
    .button {
        font-size: 1.5rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
}

.button-accent {
    color: #00ffc6;
    border-color: #00ffc6;
}

.button-accent:hover, .button-accent:focus {
    background: #00ffc6;
    color: #232323;
}

.button-dark {
    color: #232323;
    border-color: #232323;
}

.button-dark:hover, .button-dark:focus {
    background: #232323;
    color: #00ff6c;
}

/* Header 
===================*/

header {
    position: absolute;
    left: 0;
    /* recenters logo */
    right: 0;
    /* recenters logo */
    margin-top: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* removes bullets */
}

nav li {
    display: inline-block;
    /* places menu items on same line */
    padding: 0 .5em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .5em;
    /* this enlarges the area to click so you don't have to click right on the word */
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    overflow: hidden;
}

nav a:hover, nav a:focus {
    color: #dddddd;
}

@media (min-width: 45rem) {
    /* float logo and menu items */
    .logo {
        float: left;
    }
    nav {
        float: right;
        overflow-x: hidden;
        margin-top: 20px;
    }
}

/* Home Hero
===================*/

.home-hero {
    background-image: url(img/showcase1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5em 0;
    background-position: 50% 45%;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

@media (min-width: 45rem) {
    /* float logo and menu items */
    .home-hero p {
        font-size: 1.3rem;
    }
    .home-hero {
        height: 100vh;
        padding-top: 14vh;
        overflow: hidden;
    }
}

/* Home About Textbox
===================*/

.home-about-textbox {
    background-color: #232323;
    padding: 4em;
    margin-top: 0;
    width: 100vw;
    /* makes it 100% of the viewport width */
    margin-left: -2.6%;
    /* pulls it back over to the left */
    outline: 2px solid #00ff6c;
    outline-offset: -2.5em;
    /* sets box to go inward */
    color: #ffffff;
    position: relative;
}

.home-about-textbox h1 {
    color: #00ff6c;
    position: absolute;
    left: 50%;
    /* centers "Who we are" */
    transform: translateX(-50%);
    /* centers "Who we are" */
    top: .75em;
    background: #232323;
    padding: 0 .1em;
}

@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }
    .home-about-textbox h1 {
        top: .6em;
        padding: 0 .325em;
    }
}

@media (min-width: 45rem) {
    h1 {
        font-size: 2.5rem;
    }
    .home-about {
        background-image: url(img/showcase4.jpg);
        background-size: cover;
        background-position: 20% 25%;
        padding-bottom: 10em;
    }
    .home-about-textbox {
        width: 55%;
        padding: 3em;
        outline-offset: -2.30em;
        margin-left: -2.6%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 40em 0 rgba(0, 0, 0, .5);
    }
    .home-about-textbox h1 {
        top: .025em;
        left: 6rem;
        transform: translateX(0);
    }
}

/* Boxes
===================*/

.boxes {
    margin: 3em 0;
    width: 100%;
    align-items: center;
    display: block;
}

.box-item p {
    margin: 0;
    position: relative;
    /* to be able to move things properly */
    display: block;
    /* removes white separator line */
    margin: 1em;
}

@media only screen and (min-width: 592px) {
    .box-item {
        width: 50%;
        float: left;
        height: 150px;
    }
}

@media (min-width: 720px) {
    .box-item {
        width: 25%;
        float: left;
        overflow: hidden;
    }
    .box-item p {
        font-size: .75rem;
        bottom: 1rem;
    }
    .box-item h2 {
        font-size: .8rem;
        padding: 0 0 .6rem;
    }
}

/* Portfolio
===================*/

.portfolio {
    margin: 3em 0 0;
}

.port-item {
    margin: 0;
    position: relative;
    /* to be able to move things properly */
}

.port-item img {
    display: block;
    /* removes white separator line */
    width: 100%;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgba(0, 0, 0, .6);
    padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (min-width: 711px) {
    .port-item {
        width: 50%;
        float: left;
        padding-top: 5em 0 0;
    }
}

@media (min-width: 45rem) {
    .port-item {
        width: 33.3333334%;
        overflow: hidden;
    }
    .port-desc {
        transform: translateY(65%)
    }
    .port-item:hover .port-desc {
        transform: translateY(0%);
    }
}

/* CTA
===================*/

.cta {
    background-color: #00ff6c;
    padding: 2em 0;
}

.cta p {
    margin-bottom: 1em;
}

/* Footer
===================*/

footer {
    background: #232323;
    color: #ffffff;
    text-align: left;
    padding: 20em 0 -.1em 0;
    overflow: hidden;
}